table, td, tr {
	border: 1px solid green;
	padding: 0px;
	margin: auto;
}

td {
	width: 19px;
	height: 19px;
}

td:hover {
	background-color: red;
}

.content {
	float: left;
	margin-right: 10px;
}

fieldset {
	border: 2px solid black;
	padding: 10px;
}



fieldset#chat {
	height: 800px;
}

fieldset#scoreplayers {
	height: 400px;